@page "/bands/update/{Id:guid}"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Update Band</h3>

@if (currentBand != null)
{
    <EditForm Model="@currentBand">
        <Field>
            <Label>Name</Label>
            <InputText @bind-Value="currentBand.Name" />
        </Field>
        <Field>
            <Label>Genre</Label>
            <Select TValue="Genre" @bind-SelectedValue="currentBand.Genre">
                @foreach (Genre genre in Enum.GetValues<Genre>())
                {
                    <SelectItem Value="@genre">@genre.ToString()</SelectItem>
                }
            </Select>
        </Field>
    </EditForm>

    <Button Color="Color.Primary" Clicked="HandleSubmit">Save</Button>
    <Button Color="Color.Primary" Clicked="@(e => NavigationManager.NavigateTo("/bands"))">Cancel</Button>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Inject]
    public required IBandRepository BandRepository { get; set; }

    private Band currentBand;

    protected override async Task OnInitializedAsync()
    {
        currentBand = await BandRepository.GetByIdAsync(Id);
    }

    private async Task HandleSubmit()
    {
        BandRepository.Update(currentBand);
        await BandRepository.SaveChangesAsync();
        NavigationManager.NavigateTo("/bands");
    }
}
