@page "/bands/create"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>createBand</h3>

<Fields>
    <Field>
        <Label>Name</Label>
        <InputText @bind-Value="Band.Name" />
    </Field>
    <Field>
        <Select TValue="Genre" @bind-SelectedValue="Band.Genre">
            @foreach (Genre genre in Enum.GetValues<Genre>())
            {
                <SelectItem Value="@genre">@genre.ToString()</SelectItem>
            }
        </Select>
    </Field>
</Fields>

<Button Color="Color.Primary" Clicked="HandleSubmit">Save</Button>
<Button Color="Color.Primary" Clicked="@(e => NavigationManager.NavigateTo("/bands"))">Cancel</Button>

@code {
    private Band Band { get; set; } = new Band { Name = string.Empty };

    [Inject]
    public required IBandRepository BandRepository { get; set; }

    private async Task HandleSubmit()
    {
        await BandRepository.AddAsync(Band);
        await BandRepository.SaveChangesAsync();
        NavigationManager.NavigateTo("/bands");
    }
}
