@page "/bookings/create"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Create Booking</h3>

<Fields>
    <Field>
        <Label>Email</Label>
        <InputText @bind-Value="Booking.Email" />
    </Field>
    <Field>
        <InputSelect @bind-Value="Booking.FestivalId">
            <option value="">-- Select Festival --</option>
            @if (FestivalsList != null)
            {
                @foreach (var festival in FestivalsList)
                {
                    <option value="@festival.Id">@festival.Name</option>
                }
            }
        </InputSelect>
    </Field>
    @*
    maybe implement booking a specific day / days range from a festival's duration?
    *@
</Fields>

<Button Color="Color.Primary" Clicked="HandleSubmit">Save</Button>
<Button Color="Color.Primary" Clicked="@(e => NavigationManager.NavigateTo("/bookings"))">Cancel</Button>

@code {
    private Booking Booking { get; set; } = new Booking();

    [Inject]
    public required IBookingRepository BookingRepository { get; set; }

    [Inject]
    public required IFestivalRepository FestivalRepository { get; set; }

    private List<Festival>? FestivalsList;
    protected override async Task OnInitializedAsync()
    {
        FestivalsList = (await FestivalRepository.GetAllAsync()).ToList();
    }

    private async Task HandleSubmit()
    {
        await BookingRepository.AddAsync(Booking);
        await BookingRepository.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}
